.sprite{
	border:1px dashed rgb(100 , 100 , 100);
	width:60px;
	height:60px;
	display:inline-block;
	background:rgba(100, 100, 100, 0.5);
	position: absolute;
	left:0;
	top:0;

}
.drag-bar{
	background:red;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	width:20px;
	height:20px;
}

#resize-handle {
  position: absolute;
  
  -webkit-transform: translate(200px, 200px);
  transform: translate(200px, 200px);
  left: -35px;
  top: -35px;
  width: 40px;
  height: 40px;
  
  background-color: #92e;
  border: solid 4px #fff;
  border-radius: 100%;
  
  curosr: move;
}